<div class="container">
  <h1 class="d-inline-block">{{ "post.title" | translate }}: {{ post.name }}</h1>

  <div class="post-central animate__animated animate__fadeIn animate_slow">
    <div class="row">
      <div class="col-12 col-md-4 mb-3">
        <p class="form-label label-xl">{{ "post.author" | translate }}</p>
        <p class="form-label">{{ post.user?.name }}</p>
      </div>

      <div class="col-12 col-md-4 mb-3">
        <p class="form-label label-xl">{{ "post.theme.title" | translate }}</p>
        <p class="form-label">{{ post.theme?.name }}</p>
      </div>

      <div class="col-12 col-md-4 mb-3">
        <p class="form-label label-xl">{{ "post.tags.title" | translate }}</p>
        <div *ngFor="let tag of post.tags" class="col-12 d-inline margin-tags">
          <span class="badge bg-danger badge-lg me-2 mb-2" data-bs-toggle="tooltip" data-bs-placement="top" title="">{{ tag.name }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-5">
        <p class="form-label label-xl">{{ "post.description.title" | translate }}</p>
        <p class="form-label text-justify">{{ post.description }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <p class="form-label label-xl">{{ "post.rating" | translate }}</p>
        <p class="form-label"></p>
      </div>
    </div>

    <div class="my-3 float-start">
      <p class="form-label">{{ post.date | date: 'dd-MM-yyyy' }}</p>
    </div>

    <a class="btn btn-outline-primary my-3 me-3 float-end" role="button" [routerLink]="['/posts/list']"
       data-bs-toggle="tooltip" data-bs-placement="top" title="">
      <i class="fa-solid fa-arrow-rotate-left me-1"></i>
      <span>{{ "generic.buttons.return" | translate }}</span>
    </a>
  </div>
</div>
