<div class="card card-item bg-dark border-secondary p-1">
  <div class="card-body position-relative">
    <div class="position-absolute top-0 end-0">
      <a *ngIf="canDelete" class="btn btn-outline-danger my-3 me-3" role="button" (click)="delete()">
        <i class="fa-solid fa-trash-can me-1"></i>
      </a>

      <a *ngIf="canEdit" class="btn btn-outline-success my-3 me-3" role="button" (click)="!edit">
        <i class="fa-solid fa-pen-to-square me-1"></i>
      </a>
    </div>

    <p class="card-description text-justify my-3">{{ comment.content }}</p>

    <div *ngIf="edit" class="position-absolute bottom-0 end-0">
      <a *ngIf="canEdit" class="btn btn-outline-success my-3 me-3" role="button" (click)="update()"
         data-bs-toggle="tooltip" data-bs-placement="top" title="">
        <i class="fa-solid fa-pen-to-square me-1"></i>
        <span>{{ "comment.buttons.edit" | translate }}</span>
      </a>
    </div>
  </div>
</div>
