@import "src/styles";

.welcome-title {
  padding-bottom: 2rem !important;
}

.slider-title {
  padding-bottom: 1rem !important;
}

.subscriptions-title {
  padding-bottom: 1rem !important;
}

.subscriptions {
  padding-bottom: 5rem !important;
}
