<div class="card card-item bg-dark border-secondary p-1">
  <div class="card-body position-relative">
    <h2 class="card-title">{{ theme.name }}</h2>

    <p *ngIf="theme.description" class="card-description">{{ theme.description | cutText:250 }}</p>
    <p *ngIf="!theme.description" class="card-description">{{ "themes.unspecified" | translate }}</p>

    <a class="btn btn-outline-info my-3 me-3 position-absolute bottom-0 end-0" role="button" [routerLink]="['/themes', theme.name, 'detail']"
       data-bs-toggle="tooltip" data-bs-placement="top" title="">
      <i class="fa-solid fa-eye me-1"></i>
      <span>{{ "themes.buttons.detail" | translate }}</span>
    </a>
  </div>
</div>
