@import "src/styles";

.form-central {
  padding-top: .5rem !important;
}

.form-secondary {
  padding-top: 2rem !important;
}

.form-space {
  padding-bottom: 10rem !important;
}

.table-tags {
  margin-bottom: 5rem !important;
}
