<div class="container chat-container">
  <h1 class="chat-title">{{ chat.user2?.userName }}</h1>

  <div id="chat-messages" class="messages-list animate__animated animate__fadeIn animate_slow">
    <app-message *ngFor="let message of messages$ | async" [message]="message"></app-message>
  </div>

  <div class="form-chat">
    <div id="alert-message" class="alert alert-success col-12 py-2 mb-5 mx-auto fw-bold animate__animated animate__fadeIn d-none" role="alert">
      <i class="fa-solid fa-circle-check me-2"></i>
      <span id="alert-message-text" class="message-success"></span>
    </div>

    <form id="messageForm" class="mt-1 animate__animated animate__fadeIn animate_slow" [formGroup]="messageForm" (ngSubmit)="send()">
      <div class="row">
        <div class="col-12">
          <label for="message" class="form-label">{{ "chat.message.label" | translate }}</label>
          <textarea type="text" [formControl]="message" class="form-control" [placeholder]="'chat.message.placeholder' | translate"
                    [ngClass]="{'is-invalid': messageInvalid}" rows="2"></textarea>

          <div *ngIf="message.errors">
            <span *ngIf="messageInvalid" class="error">
              <span *ngIf="message.errors['required']">{{ "chat.message.errors.required" | translate }}</span>
              <span *ngIf="message.errors['minlength']">{{ "chat.message.errors.minlength" | translate }}</span>
              <span *ngIf="message.errors['maxlength']">{{ "chat.message.errors.maxlength" | translate }}</span>
            </span>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-outline-info my-3 float-end" [disabled]="!messageForm.valid"
        data-bs-toggle="tooltip" data-bs-placement="top" title="">
        <i class="fas fa-paper-plane me-1"></i>
        <span>{{ "chat.buttons.send.title" | translate }}</span>
      </button>

      <a class="btn btn-outline-primary my-3 me-3 float-end" role="button" [routerLink]="['/profiles/list']"
        data-bs-toggle="tooltip" data-bs-placement="top" title="">
        <i class="fa-solid fa-arrow-rotate-left me-1"></i>
        <span>{{ "generic.buttons.return" | translate }}</span>
      </a>
    </form>
  </div>
</div>
